body {
	text-align: center;
}

.cell {
	height: 80px;
	width: 80px;
	border: 1.5px solid grey;
	border-style: inset;
}

.blackcell {
	background-color: lightblue;
}

.whitecell {
	background-color: white;
}